<p>equity works!</p>
<!-- <table class="table table-hover">
   
    <tr *ngFor="let equityitem of service.equitylist">
        <td>{{equityitem.ID}}</td>
        <td>{{bonditem.SecurityName}}</td>
        <td>{{equityitem.SecurityDescription}}</td>
        <td> <button (click="populateform(equityitem)")>Update</button></td>
       <td> <button (click="deleteitem(equityitem.ID)") >Delete</button></td>
    </tr>
</table> -->

<div> <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
            <mat-header-cell *matHearderCellDef mat-sort-header>ID</mat-header-cell>>
            <mat-cell *matCellDef="let equityitem">{{equityitem.ID}}</mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Security Name">
            <mat-header-cell *matHearderCellDef mat-sort-header>SecurityName</mat-header-cell>>
            <mat-cell *matCellDef="let equityitem">{{equityitem.SecurityName}}</mat-cell>>
         </ng-container>
         <ng-container matColumnDef="Security Description">
            <mat-header-cell *matHearderCellDef mat-sort-header>SecurityDescription</mat-header-cell>>
            <mat-cell *matCellDef="let equityitem">{{equityitem.SecurityDescription}}</mat-cell>>
         </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef ="let row;columns:displayedColumns;"></mat-row>
    </mat-table>
    
</div>